* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #131415;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  display: grid;
  grid-template-columns: 400px 300px 150px 150px;
  grid-template-rows: 200px 200px 200px;
  gap: 20px;
  border-radius: 10px;
}

.item:nth-child(1) {
  background: url(./img/1.avif) no-repeat center/cover;
  grid-row: 1/3;
}

.item:nth-child(2) {
  background: url(./img/2.avif) no-repeat center/cover;
}

.item:nth-child(3) {
  background: url(./img/3.avif) no-repeat center/cover;
}

.item:nth-child(4) {
  background: url(./img/4.avif) no-repeat center/cover;
}

.item:nth-child(5) {
  background: url(./img/5.avif) no-repeat center/cover;
  grid-row: 2/4;
}

.item:nth-child(6) {
  background: url(./img/6.avif) no-repeat center/cover;
  grid-column: 3/5;
}

.item:nth-child(7) {
  background: url(./img/7.avif) no-repeat center/cover;
}

.item:nth-child(8) {
  background: url(./img/8.avif) no-repeat center/cover;
  grid-column: 3/5;
}
